nav {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    position: sticky;
    top: 0;
    justify-content: center;
    background-color: #000;
    z-index: 1;
    padding: 10px;
    margin: 10px;
}

nav >h3 {
    padding: 20px;
    font-size: 40px;
}

nav img {
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: aquamarine;
}

header {
    padding: 10px;
    margin: 10px;
}

header h1 {
    font-size: 60px;
    display: inline-block;
}

header div{
    padding-left: 35vw;
    align-items:center;
}

header img{
    width: 100px;
    display: inline-block;
}

header p{
    font-size: 30px;
}

.section-01 div{
    margin-left: 0;
    margin-right: 0;
    align-items: center;
}

.section-01{
    display: inline;
}

.section-01 b {
    color: cyan;
}

.section-01 img {
    padding-left: 15vw;
    display: inline-block;
    width: 500px;
}
.section-01 div{
    margin-left: 100px;
    display: inline-block;
}

.section-01 div p{
    margin-left: 15vw;
    font-size: 30px;
}
.section-02{
    padding: 10px;
    margin: 10px;
}
.section-02 div{
    display: inline-block;
    font-size: 1.3vw;
}

.section-03{
    padding: 10px;
    margin: 10px;
}

.section-03 h1{
    font-size: 5vw;
    margin-left: 30vw;
}

.section-03 div{
    padding-left: 20vw;
    padding-right: 20vw;
    margin: auto;
}

.section-04 {
    padding: 10px;
    margin: 10px;
}

.section-04 h1 {
    font-size: 5vw;
    margin-left: 35vw;
}
.section-04 img{
    width: 25vw;
    aspect-ratio: 1/2;
    margin: 15px;
}

.section-04-cards{
    display: flex;
    flex-flow: row wrap;
    margin-left: 5vw;
}
.section-05 {
    padding: 10px;
    margin: 10px;
}

.section-05 h1{
    font-size: 5vw;
    margin-left: 35vw;
}
footer {
    height: 100px;
    background-color: #000;
    text-align: center;
}

footer h4 {
    display: inline-block;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 20px;
}

footer a{
    text-decoration: none;
    color: aquamarine;
}

body {
    background: #000;
}

*{
    color: #ffffff;
}
