.nav-bar{
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    position: sticky;
    top: 0;
    justify-content: center;
    /*background-color: white;*/
    z-index: 1;
}

.nav-bar>h3 {
    padding: 20px;
    font-size: 40px;
}

.nav-bar img {
    padding: 20px;
}

.nav-bar a {
    text-decoration: none;
    color: aquamarine;
}

header>h1 {
    font-size: 6vw;
}

header span{
    color: aqua;
    font-size: 30px;
}

/*header>img {*/
/*    position: relative;*/
/*    left: 0;*/
/*}*/

.header {
    margin: 10px;
    padding: 10px;
}

.header a{
    text-decoration: none;
}

.header h1{
    text-align: center;
}

.header p {
    font-size: 20px;
}

.header-image {
    position: absolute;
    left: 50vw;
    top: 450px;
}

.section-01{
    width: 90vw;
    margin-top: 200px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.header div {
    margin-top: 300px;
    margin-left: 100px;
}

.header div h2:nth-child(2){
    margin-left: 50px;
}

.header div h3{
    margin-left: 100px;
}

.header-image2{
    width: 60px;
    /*position: fixed;*/
    left: 5vw;
}

.header-image2:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    border-radius: 60px;
}
.section-02 {
    margin-top: 200px;

}

.section-02 h3{
    margin-left: 30vw;
    font-size: 5vw;
}
.section2-image{
    position: absolute;
    width: 500px;
    /*display: none;*/

}

.section-02-biography{
    margin-top: 50px;
    margin-left: 550px;
    width: 500px;
}

.section-02 p{
    font-size: 30px;
}

#education {
    padding-left: 30vw;
    font-size: 5vw;
}

.section03{
    margin-top: 300px;
}

.card {
    display: flex;
    flex-flow: row wrap;

}

.section03 div div{
    background-color: black;
    border: 3px solid aqua;
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
    height: 300px;
    aspect-ratio: 1/1;
}


.section03 div div:hover{
    box-shadow: 10px 5px 5px lightslategrey;
}

.card div h1,p{
    color: white;
}

.card div p {
    font-size: 15px;
}

footer {
    height: 100px;
    background-color: #000;
    text-align: center;
}

footer h4 {
    display: inline-block;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 20px;
}

footer a{
    text-decoration: none;
    color: aquamarine;
}

body {
    background: #000;
}

.header h1{
    color: #49c5b6;
}

* {
    color: #ffffff;
}

nav {
    background: #000;
}