.nav-bar{
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    position: sticky;
    top: 0;
    justify-content: center;
    background-color: white;
    z-index: 1;
}

.nav-bar>h3 {
    padding: 20px;
    font-size: 40px;
}

.nav-bar img {
    padding: 20px;
}

.nav-bar a {
    text-decoration: none;
    color: aquamarine;
}

/*header>h1 {*/
/*    margin-left: 0;*/
/*    margin-right: 0;*/
/*    text-align: center;*/
/*}*/

/*header>img {*/
/*    position: relative;*/
/*    left: 0;*/
/*}*/

.header {
    margin: 10px;
    padding: 10px;
}

.header a{
    text-decoration: none;
}

.header h1{
    text-align: center;
}

.header p {
    font-size: 20px;
}

.header-image {
    position: absolute;
    left: 50vw;
    top: 500px;
}

.section-01{
    width: 90vw;
    margin-top: 200px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.header div {
    margin-top: 300px;
    margin-left: 100px;
}

.header div h2:nth-child(2){
    margin-left: 50px;
}

.header div h3{
    margin-left: 100px;
}

.header-image2{
    width: 60px;
    /*position: fixed;*/
    left: 5vw;
}

.header-image2:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    border-radius: 60px;
}

.section2-image{
    position: absolute;
    width: 500px;
    /*display: none;*/

}

.section-02-biography{
    margin-top: 50px;
    margin-left: 550px;
    width: 500px;
}

.section-03{
    margin-top: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.section-03 img{
    width: 300px;
    height: 350px;
}


.section-03 div div{
    display: inline-block;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
}


.section-03 div div:hover{
    box-shadow: 10px 5px 5px lightslategrey;
}

footer {
    height: 100px;
    background-color: lightslategrey;
    text-align: center;
}

footer h4 {
    display: inline-block;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 20px;
}

footer a{
    text-decoration: none;
    color: aquamarine;
}
