nav {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    position: sticky;
    top: 0;
    justify-content: center;
    background-color: white;
    z-index: 1;
    padding: 10px;
    margin: 10px;
}

nav >h3 {
    padding: 20px;
    font-size: 40px;
}

nav img {
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: aquamarine;
}